.cart-block {
    display: flex;
    align-items: center;
    position: relative;

    &__icon {
        cursor: pointer;
        position: relative;
    }

    &__price {
        margin-left: 10px;
        font-size: 18px;
        font-weight: bold;
    }
}